.simpleButton {
    display: block;
    float: right;
    text-align: center;
    margin: 5px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    padding: 17px 25px;
    font-size: 1.5em;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin-right: 20px;
}

.simpleButton:hover {
    background-color: #FFF!important;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
}

.simpleButton:active {
    background-color: #aaa!important;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
}