.EnrollView-Container {
    display: inline-block;
    width: 800px;
    height: 800px;
}

.EnrollView-title {
    text-align: left;
}

.EnrollView-form {
    float: left;
    text-align: center;

}

.EnrollView-label {
    display: inline-block;   
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 2em;
}

.EnrollView-input {
    font-size: 2em;
}

.EnrollView-add-choices-button {
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 40px;
    background-color: white;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    font-size: 1.5em;
    padding-top: 10px;
    cursor: pointer;
}