.FooterView-Container {
    background-color: #6c5ce7;
    height: 100px;
    padding: 20px;
    color: white;
    text-align: center;
}

.HeaderView-title {
    font-size: 3em;
    text-decoration: none;
    cursor: pointer;
}