.HeaderView-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6c5ce7;
    height: 60px;
    padding: 15px 0px;
    color: white;
}

.HeaderView-title {
    display: inline-block;
    font-size: 3em;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Nanum Brush Script', cursive;
}

@media (max-width: 768px) {
    .HeaderView-Container { 
        justify-content: start;
    }
    .HeaderView-title {
        margin-left: 20px;
    }
}

.HeaderView-changeLanguage {
    position: absolute!important;
    right: 0px;
}