.VotingItemView-Container {
    
}

.VotingItemView-id {
    display: inline-block!important;
}

.VotingItemView-title {
    display: inline-block!important;
}

.VotingItemView-author {
    display: inline-block!important;
}