.VotingItemView-Container {
    display: block;
}

.VotingItemView-id {
    display: inline-block;
    width: 50px;
    height: 40px;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    padding-top: 15px;
    font-size: 1.5em;
    cursor: pointer;
}
.VotingItemView-id:hover {
    background-color: #FFF3E0;
}
.VotingItemView-id:active {
    background-color: #FFE0B2;
}

.VotingItemView-title {
    display: inline-block;
    width: 500px;
    height: 40px;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    padding-top: 15px;
    font-size: 1.5em;
    cursor: pointer;
}
.VotingItemView-title:hover {
    background-color: #FFF3E0;
}
.VotingItemView-title:active {
    background-color: #FFE0B2;
}

.VotingItemView-author {
    display: inline-block;
    width: 500px;
    height: 40px;
    background-color: white;
    margin: 5px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    padding-top: 15px;
    font-size: 1.5em;
    cursor: pointer;
}
.VotingItemView-author:hover {
    background-color: #FFF3E0;
}
.VotingItemView-author:active {
    background-color: #FFE0B2;
}