.VotingItemView-Container {
    display: inline-block;
    margin: 10px;
    margin-left: 30px;
    width: 280px;
    height: 185px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.5);
    background-color: #FFFFFF;
    padding: 15px;
    position: relative;
    text-align: right;
}

.VotingItemView-title {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    word-wrap: break-word;
}

.VotingItemView-author {
    font-size: 20px;
    text-align: left;
}

.VotingItemView-date {
    font-size: 15px;
    color: grey;
    text-align: left;
}

.VotingItemView-voter {
    font-size: 15px;
    color: grey;
    text-align: left;
}

.VotingItemView-voteButton {
    text-align: right;
    font-size: 25px;
}

.VotingItemView-Card {
    margin: 20px;
}