.VotingListView-Container {
    display: inline-block;
    height: 100%;
}

.VotingListView-title {
    text-align: left;
    margin-left: 20px;
}

.VotingListView-description {
    text-align: left;
    display: block;
    font-weight: bold;
    float: left;
}

.VotingListView-loading {
    font-size: 3em;
    margin-top: 20px;
    height: 1000px;
}